@import "tailwindcss";
@import "flowbite/src/themes/default";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
}

.container{
    width: 90%;
    margin: auto;
}

.link:hover{
    color: #ff5252;
}
.logo{
  font-size: 20px;
}


.nav li .submenu{visibility: hidden;opacity: 0;}
.nav li:hover .submenu{opacity:1 !important;visibility: visible;top: 100%;}

